USE [master]
GO
/****** Objeto: Database [BDRegistroVentas] Fecha de script: 4/9/2026 02:02:58 ******/
/*CREATE DATABASE [BDRegistroVentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROYECTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROYECTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO*/
ALTER DATABASE [BDRegistroVentas] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDRegistroVentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDRegistroVentas]
GO
/****** Objeto: Table [dbo].[Amigos] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigos](
	[Idregistro] [int] IDENTITY(1,1) NOT NULL,
	[IdusuarioEnvia] [int] NOT NULL,
	[IdusuarioRecibe] [int] NOT NULL,
	[Estado] [varchar](12) NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idregistro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[Idauditoria] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[NombreTabla] [varchar](50) NOT NULL,
	[Idregistroafectado] [int] NOT NULL,
	[Accion] [varchar](10) NOT NULL,
	[Valoranterior] [varchar](max) NULL,
	[Valornuevo] [varchar](max) NULL,
	[Fechamod] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idauditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Billeterausuario] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billeterausuario](
	[Idusuario] [int] NOT NULL,
	[SaldoDineroReal] [decimal](10, 2) NOT NULL,
	[SaldoMonedaVirtual] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CodCopiajuego] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodCopiajuego](
	[Idcopia] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[NumCopia] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idcopia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cupones] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupones](
	[Idcupon] [int] IDENTITY(1,1) NOT NULL,
	[Codigocupon] [varchar](20) NOT NULL,
	[PorcentajeDescuento] [decimal](5, 2) NOT NULL,
	[Fechainicio] [datetime] NOT NULL,
	[Fechafin] [datetime] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idcupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Dispopais] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dispopais](
	[Idpais] [int] IDENTITY(1,1) NOT NULL,
	[NombrePais] [varchar](30) NOT NULL,
	[TipoMoneda] [varchar](5) NOT NULL,
	[Disponible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estadisticas] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estadisticas](
	[Idusuario] [int] NOT NULL,
	[Horajugadas] [int] NOT NULL,
	[PartidasJugadas] [int] NOT NULL,
	[Victorias] [int] NOT NULL,
	[Derrotas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Historialbilletera] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historialbilletera](
	[Idtransaccion] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[Tipomovimiento] [varchar](15) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idtransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Impuestopais] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuestopais](
	[Idpais] [int] NOT NULL,
	[Porcentajeimpuesto] [decimal](5, 2) NOT NULL,
	[Tipoimpuesto] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idpais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Inventario] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[Idinventario] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[Iditem] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Equipado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idinventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LoginUsuarios] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reembolso] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reembolso](
	[Idreembolso] [int] IDENTITY(1,1) NOT NULL,
	[Idventa] [int] NOT NULL,
	[FechaSolicitud] [datetime] NOT NULL,
	[Motivo] [varchar](255) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idreembolso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tienda] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tienda](
	[Iditem] [int] IDENTITY(1,1) NOT NULL,
	[Nombreitem] [varchar](25) NOT NULL,
	[Categoria] [varchar](12) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Disponibilidad] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiendaVenta] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiendaVenta](
	[Idventa] [int] IDENTITY(1,1) NOT NULL,
	[Idusuario] [int] NOT NULL,
	[Iditem] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[MetodoCompra] [varchar](15) NOT NULL,
	[TotalPagado] [decimal](10, 2) NOT NULL,
	[IdCupon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Idusuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](30) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Hashcontrasena] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Idpais] [int] NOT NULL,
	[EstadoCuenta] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Venta] Fecha de script: 4/9/2026 02:02:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Idventa] [int] IDENTITY(1,1) NOT NULL,
	[Idcopia] [int] NOT NULL,
	[Idpais] [int] NOT NULL,
	[Idusuario] [int] NOT NULL,
	[Moneda] [varchar](10) NOT NULL,
	[PrecioTotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Idventa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dispopais] ON 

INSERT [dbo].[Dispopais] ([Idpais], [NombrePais], [TipoMoneda], [Disponible]) VALUES (1, N'Nicaragua', N'NIO', 1)
INSERT [dbo].[Dispopais] ([Idpais], [NombrePais], [TipoMoneda], [Disponible]) VALUES (2, N'Costa Rica', N'CRC', 1)
INSERT [dbo].[Dispopais] ([Idpais], [NombrePais], [TipoMoneda], [Disponible]) VALUES (3, N'Panama', N'PAB', 1)
SET IDENTITY_INSERT [dbo].[Dispopais] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginUsuarios] ON 

INSERT [dbo].[LoginUsuarios] ([IdUsuario], [NombreUsuario], [PasswordHash], [IdRol]) VALUES (1, N'Crossack', N'hola1234', 1)
INSERT [dbo].[LoginUsuarios] ([IdUsuario], [NombreUsuario], [PasswordHash], [IdRol]) VALUES (2, N'Hacner', N'Hacner2301', 2)
INSERT [dbo].[LoginUsuarios] ([IdUsuario], [NombreUsuario], [PasswordHash], [IdRol]) VALUES (3, N'SoteloMaykel', N'HolasoynoobXD1918!', 2)
SET IDENTITY_INSERT [dbo].[LoginUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [Nombre]) VALUES (2, N'Operador')
INSERT [dbo].[Roles] ([IdRol], [Nombre]) VALUES (3, N'Lector')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Idusuario], [NombreUsuario], [FechaNac], [CorreoElectronico], [Hashcontrasena], [FechaRegistro], [Idpais], [EstadoCuenta]) VALUES (1, N'Metsito', CAST(N'2013-06-12' AS Date), N'metA1234', N'met@gmail.com', CAST(N'2026-09-04T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Usuario] ([Idusuario], [NombreUsuario], [FechaNac], [CorreoElectronico], [Hashcontrasena], [FechaRegistro], [Idpais], [EstadoCuenta]) VALUES (2, N'BoxSama', CAST(N'2004-02-09' AS Date), N'boxsama511', N'boxsama11@hotmail.com', CAST(N'2026-09-04T00:00:00.000' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Objeto: Index [UQ_SolicitudUnica] Fecha de script: 4/9/2026 02:02:59 ******/
ALTER TABLE [dbo].[Amigos] ADD  CONSTRAINT [UQ_SolicitudUnica] UNIQUE NONCLUSTERED 
(
	[IdusuarioEnvia] ASC,
	[IdusuarioRecibe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Cupones__927CE13ACC7F5D21] Fecha de script: 4/9/2026 02:02:59 ******/
ALTER TABLE [dbo].[Cupones] ADD UNIQUE NONCLUSTERED 
(
	[Codigocupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__LoginUsu__6B0F5AE00F844E50] Fecha de script: 4/9/2026 02:02:59 ******/
ALTER TABLE [dbo].[LoginUsuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__531402F378A1BDB8] Fecha de script: 4/9/2026 02:02:59 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Amigos] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Amigos] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [Fechamod]
GO
ALTER TABLE [dbo].[Billeterausuario] ADD  DEFAULT ((0.00)) FOR [SaldoDineroReal]
GO
ALTER TABLE [dbo].[Billeterausuario] ADD  DEFAULT ((0)) FOR [SaldoMonedaVirtual]
GO
ALTER TABLE [dbo].[CodCopiajuego] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Dispopais] ADD  DEFAULT ((1)) FOR [Disponible]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [Horajugadas]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [PartidasJugadas]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [Victorias]
GO
ALTER TABLE [dbo].[Estadisticas] ADD  DEFAULT ((0)) FOR [Derrotas]
GO
ALTER TABLE [dbo].[Historialbilletera] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Impuestopais] ADD  DEFAULT ((0.00)) FOR [Porcentajeimpuesto]
GO
ALTER TABLE [dbo].[Inventario] ADD  DEFAULT ((0)) FOR [Equipado]
GO
ALTER TABLE [dbo].[Reembolso] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[Reembolso] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Tienda] ADD  DEFAULT ((1)) FOR [Disponibilidad]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [EstadoCuenta]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Envia] FOREIGN KEY([IdusuarioEnvia])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [FK_Amigo_Envia]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [FK_Amigo_Recibe] FOREIGN KEY([IdusuarioRecibe])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [FK_Amigo_Recibe]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [Auditoria_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [Auditoria_Usuario]
GO
ALTER TABLE [dbo].[Billeterausuario]  WITH CHECK ADD  CONSTRAINT [FK_Billetera_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Billeterausuario] CHECK CONSTRAINT [FK_Billetera_Usuario]
GO
ALTER TABLE [dbo].[CodCopiajuego]  WITH CHECK ADD  CONSTRAINT [FK_CodCopiajuego_Usuarios] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[CodCopiajuego] CHECK CONSTRAINT [FK_CodCopiajuego_Usuarios]
GO
ALTER TABLE [dbo].[Estadisticas]  WITH CHECK ADD  CONSTRAINT [FK_Estadisticas_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Estadisticas] CHECK CONSTRAINT [FK_Estadisticas_Usuario]
GO
ALTER TABLE [dbo].[Historialbilletera]  WITH CHECK ADD  CONSTRAINT [FK_HistorialB_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Historialbilletera] CHECK CONSTRAINT [FK_HistorialB_Usuario]
GO
ALTER TABLE [dbo].[Impuestopais]  WITH CHECK ADD  CONSTRAINT [FK_Impuestos_Dispopais] FOREIGN KEY([Idpais])
REFERENCES [dbo].[Dispopais] ([Idpais])
GO
ALTER TABLE [dbo].[Impuestopais] CHECK CONSTRAINT [FK_Impuestos_Dispopais]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Tienda] FOREIGN KEY([Iditem])
REFERENCES [dbo].[Tienda] ([Iditem])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Tienda]
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Inventario_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Inventario] CHECK CONSTRAINT [FK_Inventario_Usuario]
GO
ALTER TABLE [dbo].[LoginUsuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Reembolso]  WITH CHECK ADD  CONSTRAINT [FK_Reembolso_Venta] FOREIGN KEY([Idventa])
REFERENCES [dbo].[Venta] ([Idventa])
GO
ALTER TABLE [dbo].[Reembolso] CHECK CONSTRAINT [FK_Reembolso_Venta]
GO
ALTER TABLE [dbo].[TiendaVenta]  WITH CHECK ADD  CONSTRAINT [FK_TiendaVenta_Cupones] FOREIGN KEY([IdCupon])
REFERENCES [dbo].[Cupones] ([Idcupon])
GO
ALTER TABLE [dbo].[TiendaVenta] CHECK CONSTRAINT [FK_TiendaVenta_Cupones]
GO
ALTER TABLE [dbo].[TiendaVenta]  WITH CHECK ADD  CONSTRAINT [Fk_TiendaVenta_Tienda] FOREIGN KEY([Iditem])
REFERENCES [dbo].[Tienda] ([Iditem])
GO
ALTER TABLE [dbo].[TiendaVenta] CHECK CONSTRAINT [Fk_TiendaVenta_Tienda]
GO
ALTER TABLE [dbo].[TiendaVenta]  WITH CHECK ADD  CONSTRAINT [FK_TiendaVenta_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[TiendaVenta] CHECK CONSTRAINT [FK_TiendaVenta_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Dispopais] FOREIGN KEY([Idpais])
REFERENCES [dbo].[Dispopais] ([Idpais])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Dispopais]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_CodCopiajuego] FOREIGN KEY([Idcopia])
REFERENCES [dbo].[CodCopiajuego] ([Idcopia])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_CodCopiajuego]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [Fk_Venta_Dispopais] FOREIGN KEY([Idpais])
REFERENCES [dbo].[Dispopais] ([Idpais])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [Fk_Venta_Dispopais]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [Fk_Venta_Usuario] FOREIGN KEY([Idusuario])
REFERENCES [dbo].[Usuario] ([Idusuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [Fk_Venta_Usuario]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoAmistad] CHECK  (([Estado]='Bloqueada' OR [Estado]='Rechazada' OR [Estado]='Aceptada' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [CHK_EstadoAmistad]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutoAmigo] CHECK  (([IdusuarioEnvia]<>[IdusuarioRecibe]))
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [CHK_NoAutoAmigo]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [CHK_AccionAuditoria] CHECK  (([Accion]='DELETE' OR [Accion]='UPDATE' OR [Accion]='INSERT'))
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [CHK_AccionAuditoria]
GO
ALTER TABLE [dbo].[Historialbilletera]  WITH CHECK ADD  CONSTRAINT [CHK_TipoMovimiento] CHECK  (([Tipomovimiento]='Reembolso' OR [Tipomovimiento]='Gasto Compra' OR [Tipomovimiento]='Recarga'))
GO
ALTER TABLE [dbo].[Historialbilletera] CHECK CONSTRAINT [CHK_TipoMovimiento]
GO
ALTER TABLE [dbo].[Reembolso]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoReembolso] CHECK  (([Estado]='Rechazado' OR [Estado]='Aprobado' OR [Estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Reembolso] CHECK CONSTRAINT [CHK_EstadoReembolso]
GO
USE [master]
GO
